{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'layout/bootstrap/css/b.css' %}">
  <link rel="stylesheet" href="{% static 'layout/css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'styles/css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <title>Shopix | {% block title %}{% endblock title %}</title>
</head>
<body>
  <nav class="navbar navbar-expand bg-dark">
    <div class="container-fluid">
      <a class="ca-btn btn-sm btn btn-dark border-white" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><span class="navbar-toggler-icon"></span></a>
      <a class="navbar-brand text-light ms-md-2" href="{% url 'dashboard' %}">{{ web_name }}</a>
      <div class="navbar-collapse">
        <ul class="navbar-nav mb-lg-0 w-100">
          <li class="nav-item mx-2"><a href="#" class="nav-link position-relative"><i class="fa-solid fa-cart-shopping text-info fa-lg"></i><span class="translate-middle badge rounded-pill bg-danger p-1 rounded-circle">4</span></a></li>
          <li class="nav-item mx-2"><a href="#" class="nav-link position-relative"><i class="fas fa-heart text-danger fa-lg"></i> <span class="translate-middle badge rounded-pill bg-primary p-1">4</span></a></li>
        </ul>
        <div class="dropdown">
          <a class="bg-light rounded-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static 'images/no_profile_picture.png' %}" class="rounded-5" width="40" height="40">
          </a>
          <ul class="dropdown-menu dropdown-menu-end bg-dark shadow-lg" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item text-light" href="#"><i class="fas fa-box me-3 profile-icon"></i> Orders</a></li>
            <li><a class="dropdown-item text-light" href="#"><i class="fa-solid fa-address-card me-3 profile-icon"></i> View Profile</a></li>
            <li><a class="dropdown-item text-light" href="#"><i class="fas fa-user-edit me-3 profile-icon"></i> Edit Profile</a></li>
            <li><a class="dropdown-item text-light" href="#"><i class="fas fa-phone me-3 profile-icon"></i> Change Phone Number</a></li>
            <li><a class="dropdown-item text-light" href="#"><i class="fas fa-key me-3 profile-icon"></i> Change Password</a></li>
            <li><a class="dropdown-item text-light" href="#"><i class="fas fa-sign-out-alt me-3 profile-icon"></i> Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  {% block banner %}{% endblock  %}
<div class="offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="off-header">
      <button type="button" class="btn-close float-end m-2 border fs-5" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      <h4 class="offcanvas-title text-center mt-1" id="offcanvasExampleLabel">CATEGORIES</h4>
  </div>
  <div class="offcanvas-body">
      <div class="accordion accordion-flush" id="accordionFlushExample">
          {% for category in categories %}
          <div class="accordion-item {% if forloop.counter > 4 %}hidden-category{% endif %}">
              <h2 class="accordion-header">
                  <a class="accordion-button collapsed text-decoration-none text-dark" 
                          type="button" 
                          data-bs-toggle="collapse" 
                          data-bs-target="#flush-collapse{{ forloop.counter }}" 
                          aria-expanded="false" 
                          aria-controls="flush-collapse{{ forloop.counter }}">
                      {{ category.category_name }}
                  </a>
              </h2>
              <div id="flush-collapse{{ forloop.counter }}" 
                  class="accordion-collapse collapse" 
                  data-bs-parent="#accordionFlushExample">
                  {% for sub_category in category.subcategory_set.all %}
                    <a href="{% url 'cat_products' sub_category.sub_category_name %}" class="sub-ca-btn form-control border-0 text-dark text-decoration-none">{{ sub_category.sub_category_name }}</a>
                  {% endfor %}
              </div>
          </div>
          {% endfor %}
      </div>
      <a id="toggleCategories" class="text-dark text-decoration-none w-100 sub-ca-btn" type="button"><strong>See All</strong> <b><i class="bi bi-chevron-down"></i></b></a>
  </div>
</div>

  {% block content %}{% endblock content %}
  <script src="{% static 'layout/bootstrap/js/b.js' %}"></script>
  <script src="{% static 'layout/js/jquery.js' %}"></script>
  <script src="{% static 'layout/js/ajax.js' %}"></script>
  <script src="{% static 'styles/js/script.js' %}"></script>
</body>
</html>